nav {
  height: 40px;
  line-height: 40px;
  padding: 10px 0;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.87);
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 15px;
}