* {
  margin: 0px;
  padding: 0px;
  font-family: arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.main {
  position: relative;
  padding: 120px 0px;
}

.main .logo {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.main form {
  width: 600px;
  margin: 0 auto;
}

.main form input[type=text] {
  max-width: 600px;
  width: 100%;
  line-height: 35px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1.5em;
}

.main form .buttons {
  text-align: center;
  margin: 30px 0px;
}

.main form .buttons input {
  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  padding: 10px 15px;
  margin: 0 5px;
  color: #222;
}

.main form p {
  font-size: small;
  text-align: center;
}

.main form p a {
  color: #609;
}